:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
}
h1 {
    color:black;
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 96px;
    margin:0;
}

.logo {
    height: 70px;
    display: block;
    margin: 163px 0px 0px 120px;
}

p{
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 20px;
    margin: 0px 0px 100px 0px;
}

footer{
    margin: 30px;
    display: inline-flex;
}

#footermitte {
    text-align: center;
}

header {
    background-color: black;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 50px 120px 0px 389px;
    margin-top: 50px;

    list-style: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: var(--ubuntu); 
    color: var(--grün);
    font-size: 20px;
    font-weight: 700;

}

.liveplayer {
 background-color: #A18DF3;
 margin-right: 120px;
 margin-left: 659px;
 width: 661px;
 height: 173px;
 border-radius: 16px;
 padding: 16px;
}

.header {
    display: flex;
    margin: 0;
}

.hi_container {
    background-color: #FF825C;
    display: flex;
    height: 670px;
}

.hi_inhalt{
    margin: 0px 120px 0px 120px;
    flex: 3;

}

.start_hintergrundbild {
    width: 100%;
    opacity: 15%;
    height: 445px; /* Setze die gewünschte Höhe für das div */
    background-image: url('/img/Z-black.png');
    background-size: cover;
    background-position: top center; /* Positioniere das Bild so, dass der obere Teil sichtbar ist */
  }
  
  .titel_enkel {
    height: 75px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .start_rechter_bereich {
    flex: 2;
  }

  .leer_enkel {
    height: 200px;
  }

  a:-webkit-any-link{
    color: var(--grün);
    text-decoration: none;
  }


  .einleitungstext{  
    box-sizing: border-box; 
    padding: 100px 524px 100px 120px;
    width: 100%;
    height: 300px;
    background-color:#B4FF69;
  }

.einleitung{
    max-width: 60%;
}



  .geschäftsleitung{
    box-sizing: border-box;
    padding: 100px 0px 100px 625px;
    width: 100%;
    height: 379px;
    background-color:#FF825C;
  }

  .geschäftsleitungtext{
    max-width: 60%;
    text-align: right;

  }

  .corporatecommunications{
    box-sizing: border-box;
    padding:72px 793px 100px 120px;
    width: 100%;
    height: 406px;
    background-color:#A18DF3;
  }

  .corporatecommunicationstext{
    max-width: 60%;
  }