:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
    letter-spacing: 2.4px;
}
h1 {
    color:black;
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 96px;
    margin:0;
}

.logo {
    height: 97px;
    display: block;
}

p{
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 20px;
    margin: 0px 0px 100px 0px;
}

span {
    font-family: var(--ubuntu);
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

footer{
    margin: 30px;
    display: inline-flex;
}

#footermitte {
    text-align: center;
}

header {
    background-color: black;
    padding: 0px 120px 0px 120px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 50px 120px 0px 389px;
    margin-top: ;

    list-style: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: var(--ubuntu); 
    color: var(--grün);
    font-size: 20px;
    font-weight: 700;
}
a {
    color: var(--grün);
    text-decoration: none;
}
a:hover {
    color: var(--violett);
}

.live_container {
    display: flex;
    background-color: #A18DF3;
    height: 141px;
    width: 629px;
    margin-bottom: 50px;
    margin-top: 58px;
    border-radius: 16px;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
}

.liveplayer {
    text-align: right;
    padding-right: 10px;
    flex: 3;
    font-family: var(--comfortaa);
    font-size: 20px;
}

.live_bild {
    width: 75px;
    height: 75px;
}

.playbutton {
    max-width: 100%;
}

.header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.hi_container {
    background-color: #FF825C;
    display: flex;
    height: 670px;
}

.hi_inhalt{
    margin: 0px 120px 0px 120px;
    flex: 3;

}

.start_hintergrundbild {
    width: 100%;
    opacity: 15%;
    height: 445px; /* Setze die gewünschte Höhe für das div */
    background-image: url('/img/Z-black.png');
    background-size: cover;
    background-position: top center; /* Positioniere das Bild so, dass der obere Teil sichtbar ist */
  }
  
  .titel_enkel {
    height: 75px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .start_rechter_bereich {
    flex: 2;
  }

  .leer_enkel {
    height: 200px;
  }