:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

h1 {
    color:black;
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 96px;
    margin:0;
}

.logo {
    height: 70px;
    display: block;
    margin-left: 120px;
}

p{
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 20px;
    margin: 0px 0px 100px 0px;
}

footer{
    margin: 30px;
    display: inline-flex;
}

#footermitte {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;

    list-style: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: var(--grün);
}

.hi_container {
    background-color: #FF825C;
    display: flex;
    height: 670px;
}

.hi_inhalt{
    margin: 0px 120px 0px 120px;
    flex: 3;

}

.start_hintergrundbild {
    width: 100%;
    opacity: 15%;
    height: 445px; /* Setze die gewünschte Höhe für das div */
    background-image: url('/img/Z-black.png');
    background-size: cover;
    background-position: top center; /* Positioniere das Bild so, dass der obere Teil sichtbar ist */
  }
  
  .titel_enkel {
    height: 75px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .start_rechter_bereich {
    flex: 2;
  }

  .leer_enkel {
    height: 200px;
  }