:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    margin: auto;
    max-width: 100%;
  }
  
h2 {
    color:black;
    margin: 0px; 
    padding: 0px 0px 10px 0px;
    font-family: var(--comfortaa);
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 16px;
    text-align: right;
}

h1{
    color:black;
    font-family: var(--comfortaa);
    font-size: 96px;
    margin:0;
    letter-spacing: 24px;
    padding: 100px 0px 50px 0px;
    text-align: right;
}

.livestart {
    display: flex;
    background-color: var(--grün);
    background-image: url('/img/Z-black-15.png');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 60%;
    background-size: 450px;

}

.textlinks {
    font-family: var(--comfortaa);
    display: flex;
    flex: 1;
    padding: 80px 0px 80px 120px;
    text-align: left;
    font-size: 20px;
}

.textlinks h2 {
    text-align: left;
}

.playbutton {
    background-color: #FF825C;
    background-image: url('/img/Playbutton_dreieck.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    border-radius: 16px;
    display: flex;
    width: 80px;
    height: 80px;
    padding: 20px 24px;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    flex: 1;
    cursor: pointer;
}

.playbutton:hover {
    background-color: var(--violett);
    background-image: url('/img/Playbutton_dreieck.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    border-radius: 16px;
    display: flex;
    width: 80px;
    padding: 20px 24px;
    justify-content: center;
    margin-right: 50px;
    flex: 1;
}

.livetext {
    flex: 3;
}

.textrechts {
   font-family: var(--comfortaa);
    flex: 1;
    padding: 80px 120px 80px 30px;
    text-align: right;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.applink {
    width: 257px;
    height: 40px; 
    background-color: #B4FF69;
    border-radius: 16px;
    text-align: center;
    padding-top: 13px;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    float: right;
}

.applink:hover {
    background-color: var(--violett);
}

.applink2 {
    width: 257px;
    height: 40px; 
    background-color: #B4FF69;
    border-radius: 16px;
    text-align: center;
    padding-top: 13px;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

.applink2:hover {
    background-color: var(--orange);
}

.titelrechts {
    flex: 1;
    margin-right: 120px;
}

.titelrechts h2 {
    padding-top: 100px 0px 50px 0px;
}

.leerlinks {
    flex: 1;
}

.leerrechts {
    flex: 1;
}

.angebot{
    color: var(--orange)
}

.live-chat {
    display: flex;
    background-color: var(--orange);
    background-image: url('/img/Z-black-15.png');
    background-repeat: no-repeat;
    background-position-x: -70%;
    background-position-y: 30%;
    background-size: 900px;
    
}
.livechat_bild {
    width: 392px;
    border-radius: 20px;
    background-color: var(--violett);
}

.platzhalterbild {
    width: 392px;
    background-size: cover;
    margin: 80px 0px 80px 120px;
    border-radius: 16px;
}

.livevoting_bild {
    width: 392px;
    border-radius: 16px;
}

.platzhalterbild2 {
    width: 392px;
    background-size: cover;
    margin: 80px 120px 80px 30px;
    border-radius: 16px;
    padding-bottom: 10px;
}

.live-voting {
    display: flex;
    background-color: #A18DF3;
    background-image: url(/img/Z-black-15.png);
    background-repeat: no-repeat;
    background-position-y: -50%;
    background-position-x: center;
}

.portal {
    background-color: var(--grün);
    font-family: var(--comfortaa);
    font-size: 20px;
    padding: 0px 120px 80px 120px;
    background-image: url(/img/Z-black-15.png);
    background-repeat: no-repeat;
    background-position-x:160%;
    background-position-y:-60%;
}

.portaltitel {
    text-align: right;
}

.portaloben {
    display: flex;
    margin-bottom: 50px;
}

.portaltextrechts {
    flex: 1;
    text-align: right;
    padding-left: 30px;
}

.portalobenlinks {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxrechts {
    background-color: var(--orange);
    height: 260px;
    width: 100px;
    border-radius: 16px;
    flex: 1;
    margin: 10px;
    background-image: url(/img/musikicon.png);
    size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.boxmitte {
    background-color: var(--violett);
    height: 300px;
    width: 140px;
    border-radius: 16px;
    flex: 1;
    margin: 10px;
    background-image: url(/img/Platzhaltericon.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.boxlinks {
    background-color: var(--orange);
    height: 260px;
    width: 100px;
    border-radius: 16px;
    flex: 1;
    margin: 10px;
    background-image: url(/img/musikicon.png);
    size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.portalunten {
    display: flex;
}

.portaluntenrechts {
    flex: 1;
    margin-left: 30px;
}

.portaltextlinks {
    flex: 1;
}

.input{
    font-family: var(--comfortaa);
    font-size: 20px;
    letter-spacing: 3.6px;
    margin: 10px 0px 30px 0px;
    background-color: #A18DF3;
    border-radius: 16px;
    width: 100%;
    border-style: none;
    padding: 10px;
    outline:none;
  }
  
  input[type=text]:focus {
    background-color: #FF825C;
  }
  
  @media (max-width: 1000px) {

    h2{    /* h2 */
        font-size: 24px;
        letter-spacing: 4px;
        padding: 20px 0px 10px 0px;  
    }

    h1{
        font-size: 40px;
        letter-spacing: 4px;
    }

    .titelrechts h1 {
        padding: 0px;
    }
    
    .livestart {
        padding: 25px 0px 10px 0px;  
    
    }
    
    .textlinks {
        font-size: 12px;
    }
    
    .textrechts {
        margin: 25px 30px 25px 30px;
        padding: 0;
        font-size: 12px;
    }
    .titelrechts {
        margin-right: 30px;
    }

    .playbutton {
        background-color: #FF825C;
        background-image: url('/img/Playbutton_dreieck.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        border-radius: 4px;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px 12px;
        justify-content: center;
        margin-right: 25px;
        margin-left: 10px;
        flex: 1;
        cursor: pointer;
    }

    .playbutton:hover {
        background-color: var(--violett);
        background-image: url('/img/Playbutton_dreieck.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        border-radius: 4px;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px 12px;
        justify-content: center;
        margin-right: 25px;
        margin-left: 10px;
        flex: 1;
        cursor: pointer;
    }
    
    .applink {
        width: 150px;
        height: 20px; 
        padding-top: 5px;
        font-size: 12px;
        border-radius: 4px;
    }
    
    .applink:hover {
        width: 150px;
        height: 20px; 
        padding-top: 5px;
        font-size: 12px;
        border-radius: 4px;
    }
    
    .applink2 {
        width: 150px;
        height: 20px; 
        padding-top: 5px;
        font-size: 12px;
        border-radius: 4px;
    }
    
    .applink2:hover {
        width: 150px;
        height: 20px; 
        padding-top: 5px;
        font-size: 12px;
        border-radius: 4px;
    }
    
    .live-chat {
        display: flex;
        background-color: var(--orange);
        background-image: url('/img/Z-black-15.png');
        background-repeat: no-repeat;
        background-position-x: -70%;
        background-position-y: 30%;
        background-size: 900px;
        
    }
    .livechat_bild {
        width: 200px;
        border-radius: 16px;
    }
    
    .platzhalterbild {
        width: 200px;
        background-size: cover;
        margin: 25px 30px 25px 30px;
        border-radius: 4px;
        padding-bottom: 5px;
    }
    
    .livevoting_bild {
        width: 200px;
        border-radius: 4px;
    }

    .platzhalterbild2 {
        margin: 25px 30px 25px 30px;
        padding: 0;
        width: 200px;
    }

    .leerrechts {
        align-items: end;
    }
    
    .live-voting {
        display: flex;
        background-color: #A18DF3;
        background-image: url(/img/Z-black-15.png);
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-position-x: center;
    }
    
    .portal {
        background-color: var(--grün);
        font-family: var(--comfortaa);
        font-size: 12px;
        padding: 25px 30px 25px 30px;
        background-image: url(/img/Z-black-15.png);
        background-repeat: no-repeat;
        background-position-x:160%;
        background-position-y:-60%;
    }
    
    .portaltitel {
        text-align: right;
        padding: 0;
        margin-bottom: 5px;
    }
    
    .portaloben {
        display: flex;
        margin-bottom: 50px;
    }
    
    .portaltextrechts {
        flex: 1;
        text-align: right;
        margin-left: 20px;
    }
    
    .portalobenlinks {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .boxrechts {
        background-color: var(--orange);
        height: 130px;
        width: 50px;
        border-radius: 4px;
        flex: 1;
        margin: 10px;
        background-image: url(/img/musikicon.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .boxmitte {
        background-color: var(--violett);
        height: 150px;
        width: 70px;
        border-radius: 4px;
        flex: 1;
        margin: 10px;
        background-image: url(/img/Platzhaltericon.png);
        background-size: 45px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .boxlinks {
        background-color: var(--orange);
        height: 130px;
        width: 50px;
        border-radius: 4px;
        flex: 1;
        margin: 10px;
        background-image: url(/img/musikicon.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .portalunten {
        display: flex;
        justify-content: flex-end;
    }
    
    .portaluntenrechts {
        flex: 1;
        margin-left: 20px;
        margin-right: 30px;
    }
    
    .portaltextlinks {
        flex: 1;
    }
    
    .input{
        font-family: var(--comfortaa);
        font-size: 12px;
        letter-spacing: 3.6px;
        margin: 0px 0px 30px 0px;
        background-color: #A18DF3;
        align-items: end;
        border-radius: 4px;
        border-style: none;
        padding: 10px;
        width: 100%;

        outline:none;
      }
      
      input[type=text]:focus {
        background-color: #FF825C;
      }

      .textlinks {
        padding: 5px;
        margin: 25px 30px 25px 30px;
      }
  }

  @media (max-width: 600px) {
    h2 {
        text-align: left;
    }

    .livestart {
        flex-direction: column-reverse;
    }
    
    .live-chat {
        flex-direction: column-reverse;
        padding: 25px 30px 25px 20px;
    }

    .live-voting {
        flex-direction: column;
        padding: 25px 30px 25px 20px;
    } 

    .portal {
        flex-direction: column;
        padding: 25px 30px 25px 20px;
    }

    .portal h2 {
        text-align: left;
        padding: 5px;
    }

    .titelrechts {
        margin-left: 30px;
    }

    .titelrechts h1 {
        text-align: left;
        padding: 5px 5px 5px 0px;
    }
    
    .textlinks {
        flex-direction: column;
        padding: 0px;
        text-align: left;
        margin: 0px 0px 25px 30px;
    }

    .live-voting .textlinks {
        margin-left: 0px;
    }

     .playbutton {
        padding: 40px;
        margin: auto;
        margin-top: 20px;
    }

    .playbutton:hover {
        padding: 40px;
        margin: auto;
        margin-top: 20px;
        }
    
    .textrechts {
        text-align: left;
        padding: 5px;
        margin: 0px 0px 25px 0px;
    }

    .applink {
        margin: auto;
        float: left;
    }

    .leerlinks {
        margin: auto;
    }

    .platzhalterbild {
        margin: 0;
    }

    .applink2 {
        margin: auto;
        float: left;
    }

    .leerrechts {
        margin: auto;
    }

    .platzhalterbild2 {
        margin: auto;
    }

    .platzhalterbild2 img{
        display: flex;
        align-content: flex-end;
        margin: 0;
    }

    .portaloben {
        flex-direction: column-reverse;
        padding: 5px;
    }

    .portaltextrechts {
        margin: 0;
        text-align: left;
        padding: 0px;
    }

    .portalunten {
        flex-direction: column-reverse;
        padding: 5px;
    }

    .portaluntenrechts {
        margin: 0;
    }
    .portaltitel {
        text-align: left;
    }
}