:root{
  --orange: #FF825C;
  --violett:#A18DF3;
  --grün: #B4FF69;
  --comfortaa: 'Comfortaa', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
}

body{
  margin: auto;
  max-width: 100%;
}

h1{
  color:black;
  font-family: var(--comfortaa);
  font-size: 96px;
  margin:0;
  letter-spacing: 24px;
}

.h1_rechts{
  text-align: right;
}

h2{    /* h2 */
  color:black;
  font-family: var(--comfortaa);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 16px;
  padding: 100px 0px 50px 0px;
  margin: 0px;   
}

h3{     /* h3 */
  color: black;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

p{
  color: #000;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.6px;
  margin: 0px;
}

.text_rechts{
  text-align: right;
  margin: 50px 0px 0px 0px;
}

.text_links{
  text-align: left;
  margin: 50px 0px 0px 0px;
}

.adresse{
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  padding: 100px 120px 100px 120px;
  background-image: url(../img/Z-black-15.png);
  background-repeat: no-repeat;
  background-position: right -350px;
  background-size: 65%;
}

.wegbeschreibung{
  background-color: var(--violett);
  display: flex;
  flex-direction: column;
  padding: 100px 120px 100px 120px;
  background-image: url(../img/Z-black-15.png);
  background-repeat: no-repeat;
  background-position: 900px 430px;
  background-size: 40%;
}

.parkmoeglichkeiten{
  background-color: var(--grün);
  display: flex;
  flex-direction: column;
  padding: 100px 120px 100px 120px;
  background-image: url(../img/Z-black-15.png);
  background-repeat: no-repeat;
  background-position: center 200px;
  background-size: 100%;
}

.support{
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  padding: 100px 120px 100px 120px;
  background-image: url(../img/Z-black-15.png);
  background-repeat: no-repeat;
  background-position: -150px 300px;
  background-size: 95%;
}

.oeffnungszeiten{
  background-color: var(--violett);
  display: flex;
  flex-direction: column;
  padding: 100px 120px 100px 120px;
  background-image: url(../img/Z-black-15.png);
  background-repeat: no-repeat;
  background-position: 700px -425px;
  background-size: 60%;
}

/*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*/


.kontaktformular{
  margin-right: 30%;
  background-color: var(--grün);
  border-radius: 16px;
  display: flex;
  margin-top: 50px;
}

.sendenbutton_text{
  font-family: var(--ubuntu)
}

.sendenbutton{
  display: flex;
  margin-bottom: 50px;
 }

.sendenbutton_style {
  background-color: #A18DF3;
  border-radius: 16px;
  display: flex;
  width: 257px;
  padding: 20px 24px;
  justify-content: center;
  margin-left: 50px;
 }

.sendenbutton_style:hover {
  background-color: var(--orange);
}

button{
border-style: none;
cursor: pointer;
}

.kontaktschrift{
  margin: 0px 0px 50px 50px;
}

.h3intern{
  margin: 50px 50px 0px 50px;
  font-family: var(--ubuntu);
  font-size: 20px;
}

.sendbutton:hover{
  background-color: var(--orange);
}

.input{
  font-family: var(--comfortaa);
  font-size: 20px;
  letter-spacing: 3.6px;
  margin: 10px 0px 30px 0px;
  background-color: #FF825C;
  border-radius: 16px;
  width: 600px;
  border-style: none;
  padding: 10px;
  outline:none;
}

input[type=text]:focus {
  background-color: #A18DF3;
}

.kontakt{
  color: var(--orange);
}

@media (max-width: 1000px) {

  .text_rechts{
    text-align: left;
    margin: 0px;
  }
  
  .text_links{
    margin: 0px;
  }
  
  .adresse{
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-position: right -350px;
    background-size: 65%;
  }
  
  .wegbeschreibung{
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-position: 900px 430px;
    background-size: 40%;
  }
  
  .parkmoeglichkeiten{
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-position: center 200px;
    background-size: 100%;
  }
  
  .support{
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-position: -150px 300px;
    background-size: 95%;
  }
  
  .oeffnungszeiten{
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background-position: 700px -425px;
    background-size: 60%;
  }
  
  /*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*//*kontakt*/
  
  
  .kontaktformular{
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 0%;
  }
  
  .sendenbutton{
    margin-bottom: 10px;
   }
  
  .sendenbutton_style {
    border-radius: 4px;
    width: 160px;
    padding: 5px 6px;
    margin-left: 10px;
   }

  .kontaktschrift{
    margin: 0px 0px 10px 10px;
  }
  
  .h3intern{
    margin: 10px 10px 0px 10px;
    font-size: 12px;
  }
  
  
  .input{
    font-size: 12px;
    letter-spacing: 1.5px;
    margin: 5px 0px 15px 0px;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
  }

  iframe{
    width: 300px;
    height: 225px;
  }
}

@media (max-width: 600px) {

}