:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    margin: auto;
    max-width: 100%;
}

h1{
    color:black;
    font-family: var(--comfortaa);
    font-size: 96px;
    margin:0;
    letter-spacing: 24px;
}

.h1_rechts{
    text-align: right;
}

h2{    /* h2 */
    color:black;
    font-family: var(--comfortaa);
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 16px;
    padding: 100px 0px 50px 0px;
    margin: 0px;   
}

h3{     /* h3 */
    color: black;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

p{
    color: #000;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.6px;
    margin: 0px;
}

.ueberuns{
    color: var(--orange);
}

.button_text{
    font-family: var(--ubuntu)
}

.button{
    display: flex;
    margin: 50px 0px 50px 0px;
    align-items: center;
    cursor: pointer;
   }

.button_style {
    background-color: #FF825C;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-right: 50px;
   }

.button_style:hover {
    background-color: var(--grün);
}

.downloadbutton_text{
    font-family: var(--ubuntu)
}

.downloadbutton{
    display: flex;
    margin: 50px 0px 50px 0px;
    align-items: center;
    justify-content: right;
    cursor: pointer;
   }

.downloadbutton_style {
    background-color: #A18DF3;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-left: 50px;
   }

.downloadbutton_style:hover {
    background-color: var(--orange);
}

.downloadbutton2{
    display: flex;
    margin: 50px 0px 0px 0px;
    align-items: center;
    cursor: pointer;
   }

.downloadbutton_style2 {
    background-color: #A18DF3;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-right: 50px;
   }

.downloadbutton_style2:hover {
    background-color: var(--grün);
}

.kontaktbutton {
    display: flex;
    margin: 50px 0px 0px 0px;
    align-items: center;
    justify-content: right;
    cursor: pointer;
   }

.kontaktbutton_style {
    background-color: #FF825C;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-left: 50px;
   }
   
.kontaktbutton_style:hover {
    background-color: var(--grün);
}

.wer_ghoeri{
    background-color: #A18DF3;
    display: flex;
    padding: 100px 120px 100px 120px;
    background-image: url(../img/Z-black-15.png);
    background-repeat: no-repeat;
    background-position: -150px 300px;
    background-size: 180%;
}

.image_host{
    display: flex;
    width: auto;
    height: 350px;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: right;
    border-radius: 16px;
    border-style: solid;
    border-color: #B4FF69;
    border-width: 4px;
}

.image_container{
    width:250px;
    height:350px;
    background-size: cover;
    margin-bottom: 50px;
    border-radius: 16px;
    border-style: solid;
    border-color: #B4FF69;
    border-width: 4px;
}

.lisa{
    background-image: url('/img/lisa_original.png');
}

.lisa:hover{
    background-image: url('/img/lisa_hover.png');
}

.luca{
    background-image: url('/img/luca_original.png');
}

.luca:hover{
    background-image: url('/img/luca_hover.png');
}

.jula{
    background-image: url('/img/jula_original.png');
}

.jula:hover{
    background-image: url('/img/jula_hover.png');
}

.manu{
    background-image: url('/img/manu_original.png');
}

.manu:hover{
    background-image: url('/img/manu_hover.png');
}

.content_stimmprobe{
    margin: 0px 0px 0px 0px;
    text-align: right;
}

.seekbar{
    width: 250px;
    height: 24px;
    margin: 50px 0px 0px 0px;
    background-image: url('/img/seekbar.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    cursor: pointer;
}

.seekbar:hover{
    background-image: url('/img/seekbar_hover.png');
}

.rechtesbild{
    flex: 2;
    margin-left: auto;
    float: right;
}

.hosts{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
}

.text_host{
    display: flex;
    padding-right: 100px;
}

.content_host{
    flex: 3;
}

video{
    border-radius: 16px;
    border-style: solid;
    border-color: #B4FF69;
    border-width: 4px;
}

.videocontent{
    display: flex;
    flex-direction: row;
}

/* .teamvideo{
    border: solid;
    border-color: #B4FF69;
    border-radius: 16px;
    border-width: 4px;
} */

.was_ghoeri{
    background-color: #B4FF69;
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 120px 100px 120px;
    background-image: url(../img/Z-black-15.png);
    background-repeat: no-repeat;
    background-position: 150px 800px;
    background-size: 45%;
}

.was_ghoeri_rechts{
    flex-direction: row-reverse;
}

.aufteilung{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.aufteilung2{
    display: flex;
    flex-direction: row;
}

.linkerleerbereich{
    flex:2;
}

.rechterleerbereich{
    flex: 2;
}

.content_links{
    flex: 4;
}

.wieso_ghoeris{
    background-color: #FF825C;
    display: flex;
    flex-direction: column;
    padding: 100px 120px 100px 120px;
    justify-content: right;
    text-align: right;
    background-image: url(../img/Z-black-15.png);
    background-repeat: no-repeat;
    background-position: 650px -875px;
    background-size: 80%;
}

.titel_geschichte{
    text-align: left;
}

.woher_ghoeris{
    background-color: #A18DF3;
    display: flex;
    flex-direction: column;
    padding: 100px 120px 100px 120px;
    background-image: url(../img/Z-black-15.png);
    background-repeat: no-repeat;
    background-position: 200px -150px;
    background-size: 35%;
}

.content_rechts{
    display: flex;
    flex-direction: column;
    flex: 4;
}

.rechtsbuendigertext{
    text-align: right;
    justify-content: right;
}

/*Smartphone-Ansicht*/
@media (max-width: 1000px){

    .button{
        margin: 10px 0px 10px 0px;
    }

    .button_style {
        border-radius: 4px;
        width: 160px;
        padding: 5px 6px;
        margin-right: 10px;
    }

    .downloadbutton{
        margin: 10px 0px 10px 0px;
        align-items: center;
        justify-content: left;
    }

    .downloadbutton_style {
        border-radius: 4px;
        width: 160px;
        padding: 5px 6px;
        justify-content: center;
        margin-left: 10px;
    }

    .downloadbutton2{
        margin: 10px 0px 0px 0px;
        align-items: center;
    }

    .downloadbutton_style2 {
        border-radius: 4px;
        width: 160px;
        padding: 5px 6px;
        justify-content: center;
        margin-right: 10px;
    }

    .kontaktbutton {
        margin: 10px 0px 0px 0px;
        align-items: center;
        justify-content: left;
    }

    .kontaktbutton_style {
        border-radius: 4px;
        width: 160px;
        padding: 5px 6px;
        justify-content: center;
        margin-left: 10px;
    }

    .wer_ghoeri{
        padding: 25px 30px 25px 30px;
        background-position: -150px 300px;
        background-size: 180%;
    }

    .image_host{
        width: auto;
        height: 150px;
        align-items: center;
        gap: 2px;
        margin-bottom: 10px;
        justify-content: left;
        border-radius: 4px;
        border-width: 2px;
    }

    .image_container{
        width:100px;
        height:150px;
        margin-bottom: 10px;
        border-radius: 4px;
        border-width: 2px;
    }

    .content_stimmprobe{
        text-align: left;
    }

    .seekbar{
        width: 100px;
        height: 24px;
        margin: 10px 0px 0px 0px;
    }


    .rechtesbild{
        flex: 2;
        margin-left: auto;
        float: left;
    }

    .hosts{
        display: flex;
        /*flex-direction: column;*/
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        justify-content: space-between;
    }

    .text_host{
        padding-right: 0px;
    }

    .content_host{
        padding-bottom: 10px;
    }

    video{
        border-radius: 4px;
        border-width: 2px;
        width: 265px;
    }

    .videocontent{
        flex-direction: column;
    }

    .was_ghoeri{
        flex-direction: row-reverse;
        padding: 25px 30px 25px 30px;
        background-position: 150px 800px;
        background-size: 45%;
    }

    .was_ghoeri_rechts{
        flex-direction: row-reverse;
    }

    .aufteilung{
        flex-direction: column;
        text-align: left;
        justify-content: left;
    }

    .aufteilung2{
        flex-direction: column;
    }

    .linkerleerbereich{
        flex:0;
        display: none;
    }

    .rechterleerbereich{
        flex: 0;
        display: none;
    }

    .content_links{
        flex: 0;
    }

    .wieso_ghoeris{
        padding: 25px 30px 25px 30px;
        justify-content: left;
        text-align: left;
        background-position: 650px -875px;
        background-size: 80%;
    }

    .titel_geschichte{
        text-align: left;
    }

    .woher_ghoeris{
        padding: 25px 30px 25px 30px;
        background-position: 200px -150px;
        background-size: 35%;
    }

    .rechtsbuendigertext{
        text-align: left;
        justify-content: left;
    }
}

@media (max-width: 600px){
    .hosts{
        flex-direction: column;
    }


}