:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
}

h1{
    color:black;
    font-family: var(--comfortaa);
    font-size: 96px;
    margin:0;
    letter-spacing: 24px;
}

.h1_rechts{
    text-align: right;
}

h2{    /* h2 */
    color:black;
    font-family: var(--comfortaa);
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 16px;
    padding: 100px 0px 50px 0px;
    margin: 0px;   
}

h3{     /* h3 */
    color: black;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

p{
    color: #000;
    display: flex;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.6px;
    margin: 0px;
}

.button_text{
    font-family: var(--ubuntu)
}

.button{
    display: flex;
    margin: 50px 0px 50px 0px;
    align-items: center;
   }

.button_style {
    background-color: #FF825C;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-right: 50px;
   }

.button_style:hover {
    background-color: var(--grün);
}

.downloadbutton_text{
    font-family: var(--ubuntu)
}

.downloadbutton{
    display: flex;
    margin: 50px 0px 50px 0px;
    align-items: center;
    justify-content: right;
   }

.downloadbutton_style {
    background-color: #A18DF3;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-left: 50px;
   }

.downloadbutton_style:hover {
    background-color: var(--orange);
}

.downloadbutton2{
    display: flex;
    margin: 50px 0px 50px 0px;
    align-items: center;
   }

.downloadbutton_style2 {
    background-color: #A18DF3;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-right: 50px;
   }

.downloadbutton_style2:hover {
    background-color: var(--grün);
}

.kontaktbutton {
    display: flex;
    margin: 50px 0px 50px 0px;
    align-items: center;
    justify-content: right;
   }

.kontaktbutton_style {
    background-color: #FF825C;
    border-radius: 16px;
    display: flex;
    width: 257px;
    padding: 20px 24px;
    justify-content: center;
    margin-left: 50px;
   }
   
.kontaktbutton_style:hover {
    background-color: var(--grün);
}

.wer_ghoeri{
    background-color: #A18DF3;
    display: flex;
    padding: 100px 120px 100px 120px;
}

.image_host{
    display: flex;
    width: 392px;
    height: 480px;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.content_stimmprobe{
    margin: 0px 0px 0px 0px;
    text-align: right;
}

.seekbar{
    width: 250px;
    height: 24px;
    margin: 50px 0px 0px 0px;
    background-image: url('/img/seekbar.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
}

.seekbar:hover{
    background-image: url('/img/seekbar_hover.png');
}

.host_lisa{
    display: flex;
    flex-direction: row;
}

.content_lisa{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px 50px 0px 0px;
    flex: 3;
}

.rechterbereich{
    flex: 2;
    float:right;
}

.host_luca{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
}

.text_luca{
    display: flex;
    padding-right: 50px;
}

.host_jula{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
}

.text_jula{
    display: flex;
    padding-right: 50px;
}

.host_manu{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
}

.text_manu{
    display: flex;
    padding-right: 50px;
}

.was_ghoeri{
    background-color: #B4FF69;
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 120px 100px 120px;
}

.was_ghoeri_rechts{
    text-align: right;
    flex-direction: row-reverse;
}

.berite_autehitizitaet{
    justify-content: right;
}

.aufteilung{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.linkerleerbereich{
    flex:2;
}

.wieso_ghoeris{
    background-color: #FF825C;
    display: flex;
    flex-direction: column;
    padding: 100px 120px 100px 120px;
    justify-content: right;
}

.geschichte{
    width: 931px;
}

.woher_ghoeris{
    background-color: #A18DF3;
    display: flex;
    flex-direction: column;
    padding: 100px 120px 100px 120px;
}

.content_rechts{
    display: flex;
    flex-direction: column;
    flex: 3;
}