:root{
    --orange: #FF825C;
    --violett:#A18DF3;
    --grün: #B4FF69;
    --comfortaa: 'Comfortaa', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    margin: auto;
    letter-spacing: 2.4px;
    max-width: 1600px;
}

b {
    font-family: var(--ubuntu);
    font-weight: 700;
}

h1 {
    color:black;
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 96px;
    margin:0;
}

.logo {
    height: 97px;
    display: block;
}

p{
    font-family: var(--comfortaa);
    text-align: left;
    font-size: 20px;
    margin-bottom: 100px;
}

span {
    font-family: var(--ubuntu);
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: var(--orange);
    font-family: var(--comfortaa);
    font-size: 20px;
    font-weight: 600;
  }

.footer-column1, .footer-column2, .footer-column3  {
    margin: 50px;
    flex: 1;
  }

.footer-column3 {
    margin-right: 120px;
    color: var(--orange);
    font-family: var(--ubuntu);
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }

.footer-column1 {
    margin-left: 120px;
  }

.socialmedia {
    justify-content: space-between;
    display: flex;
  }

.frequenz_footer {
    color: var(--orange);
    font-family: var(--ubuntu);
    text-transform: none;
    
}

.impressum_footer {
    color: var(--violett);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.impressum_footer:hover {
    color: var(--orange);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.datenschutz_footer {
    color: var(--grün);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.agb_footer {
    color: var(--orange);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.kontakt_footer {
    color: var(--grün);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.kontakt_footer:hover {
    color: var(--violett);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.überfrequenz_footer {
    color: var(--orange);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.überfrequenz_footer:hover {
    color: var(--grün);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.presse_footer {
    color: var(--violett);
    font-family: var(--comfortaa);
    text-transform: none;
    font-weight: 600;
}

.instagram, .youtube, .tiktok {
    height: 65px;
  }

header {
    background-color: black;
    padding: 0px 120px 0px 120px;
    background-image: url('/img/Z-red-15.png');
    background-size: 800px; /* Oder die gewünschte Größe */
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position-y: -650px;
    background-position-x: 100px;
}

/* header::after { */
    /* content: ""; Das Pseudo-Element benötigt einen Inhalt, auch wenn er leer ist */
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/img/Z-red-15.png');
    background-size: cover; /* Oder die gewünschte Größe */
    /* background-repeat: no-repeat;
    background-position: center center;
    z-index: -1; /* Stelle sicher, dass das Pseudo-Element hinter dem Inhalt liegt */
/* } */


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 50px 120px 0px 389px;
    margin-top: ;

    list-style: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: var(--ubuntu); 
    color: var(--grün);
    font-size: 20px;
    font-weight: 700;
}

a {
    color: var(--grün);
    text-decoration: none;
}
a:hover {
    color: var(--violett);
}

.live_container {
    display: flex;
    background-color: #A18DF3;
    height: 141px;
    width: 629px;
    margin-bottom: 50px;
    margin-top: 58px;
    border-radius: 16px;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
}

.liveplayer {
    text-align: right;
    padding-right: 30px;
    flex: 3;
    font-family: var(--comfortaa);
    font-size: 20px;
}

.live_bild {
    width: 75px;
    height: 75px;
    background-image: url('/img/Playbutton.png');
    background-size:contain;
    margin: 20px;
}

.playbutton {
    max-width: 100%;
}

.live_bild:hover {
    background-image: url('/img/PlaybuttonHover.png');
}

.header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.hi_container {
    background-color: #FF825C;
    display: flex;
}

.hi_inhalt{
    margin: 0px 120px 0px 120px;
    flex: 3;

}

.start_hintergrundbild {
    /* Setze die gewünschte Höhe für das div */

  }
  
  .titel_enkel {
    height: 75px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .start_rechter_bereich {
    flex: 2;
    background-image: url('/img/Z-black.png');
    background-size: 800px;
    background-position: left 60px bottom -400px;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 15%;
  }

  .leer_enkel {
    background-position: bottom center;
    background-size: contain;
  } 

  @media (max-width: 600px) {
    .logo {
        height: 70px;
        display: flex;
    }

    header {
        flex-direction: column;
        padding: 20px 30px 20px 30px;
        background-size: 800px; /* Oder die gewünschte Größe */
        background-repeat: no-repeat;
        background-position: left bottom;
        background-position-y: -650px;
        background-position-x: 100px;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    
    nav{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
    }

    .live_container {
        height: 100px;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 4px;
        padding: 4px;
    }

    .liveplayer {
        padding-right: 30px;
        flex: 3;
        font-family: var(--comfortaa);
        font-size: 12px;
    }
    
    .live_bild {
        width: 50px;
        height: 50px;
        background-image: url('/img/Playbutton.png');
        background-size:contain;
        margin: 4px;
    }
    .footer {
        font-size: 12px;
        font-weight: 600;
        flex-direction: column;
        padding: 20px 30px 20px 30px;
      }
    
    .footer-column1, .footer-column2, .footer-column3  {
        margin: 0px 0px 0px 0px;
        flex: none;
      }

    .footer-column2 {
        margin-top: -25px; /* damit die Icons nicht so weit unten sind, wegen den <br> im html */
      }
    
    .footer-column3 {
        margin-top: 30px
      }
      
    .socialmedia {
        flex-direction: row;
        justify-content: flex-start;
      }

      .instagram, .youtube, .tiktok {
        height: 20px;
      }
  }